<!DOCTYPE html>
<html>
  <head>
    <title>Forum - Home</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <div class="App">
    <h1>Welcome <%= username %></h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <br />
    <form action="/" method="POST">
        <input type="hidden" name="username" value="<%= username %>">
        <textarea class="textarea" name="post" placeholder="What are you thinking?"></textarea>
        <button type="submit">Post</button>
    </form>
    <br />
    <div class="posts">
        <% posts.forEach((post) => { %>
          <div class="post">
            <h2><%= post.username %></h2>
            <div class="post-content">
              <p><%= post.content %></p>
              <p><%= post.timestamp %></p>
              <a href="/post/<%= post._id %>"><button>Open Post</button></a>
            </div>
          </div>
        <% }); %>
      </div>

  </div>
</html>