<!DOCTYPE html>
<html>
  <head>
    <title>Forum - Home</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header-link">
      <h1 class="header-title">
          <form action="/profile/<%= username %>" method="GET" class="my-profile-button">
            <button type="submit">My profile</button>
          </form>
        <a href="/channels">
          <img src="/icons/logo.png" alt="Logo" class="logo-image" />
        </a>
        <form action="/logout?_method=DELETE" method="POST" class="log-out-button">
          <button type="submit">Log Out</button>
        </form>
      </h1>
    </div>
    <div class="App" id="Appid">
      <h2>You are now on channel: <%= channelName %></h2>
      <form action="/channels" method="GET" class="channel-button-index">
        <button type="submit">Channels</button>
      </form>
      <form action="/channels/<%= channelId %>" method="GET">
        <input
          type="text"
          class="search-input"
          name="search"
          placeholder="Search posts"
        />
      </form>
      <br />
      <form action="/" method="POST">
        <input type="hidden" name="username" value="<%= username %>" />
        <input type="hidden" name="channelId" value="<%= channelId %>" />
        <input type="text" name="title" placeholder="Enter title" class="postTitle"/>
        <textarea
          class="textarea"
          name="post"
          placeholder="Enter content"
        ></textarea>
        <button type="submit" class="post-button">Post</button>
      </form>
      <br />
      <div class="posts">
        <% posts.forEach((post) => { %>
        <div class="post">
          <div class="post-content">
            <h2><%= post.title %></h2>
            <p><%= post.timestamp %></p>
            <div class="post-stats">
              <a href="/post/<%= post._id %>"><button>Open Post</button></a>
              <p>Likes: <%= post.likedBy.length %></p>
              <p>Dislikes: <%= post.dislikedBy.length %></p>
              <p>Comments: <%= post.comments.length %></p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <script>
      window.addEventListener("load", function () {
        var div = document.getElementById("Appid");
        div.classList.add("appear");
      });
    </script>
  </body>
</html>
