<!DOCTYPE html>
<html>
  <head>
    <title>Forum - Home</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <div class="App">
    <h1>Welcome <%= name %></h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <br />
    <form action="/" method="POST">
        <input type="hidden" name="name" value="<%= name %>">
        <textarea class="textarea" name="post" placeholder="What are you thinking?"></textarea>
        <button type="submit">Post</button>
    </form>
    <br />
    <div class="posts">
        <% for (let i = 0; i < posts.length; i++) { %>
          <div class="post">
            <h2><%= posts[i].name %></h2>
            <div class="post-content">
            <p><%= posts[i].content %></p>
            <p><%= posts[i].timestamp %></p>
            </div>
          </div>
        <% } %>
      </div>
  </div>
</html>
