<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <title>HushHub Moderate</title>
  </head>
  <body>
    <div class="header-link">
      <h1 class="header-title">
        <form
          action="/profile/<%= username %>"
          method="GET"
          class="my-profile-button"
        >
          <button type="submit">My profile</button>
        </form>
        <a href="/channels">
          <img src="/icons/logo.png" alt="Logo" class="logo-image" />
        </a>
        <form
          action="/logout?_method=DELETE"
          method="POST"
          class="log-out-button"
        >
          <button type="submit">Log Out</button>
        </form>
      </h1>
    </div>
    <div class="App-moderatepage" id="Appid">
      <h1 class="channel-name">Moderate: <%= channelName %></h1>
      <div class="user-content">
        <div class="posts">
          <h2>Flagged Posts:</h2>
          <% flaggedPosts.forEach((post) => { %>
          <div class="flagged-post">
            <h3 class="post-title"><%= post.title %></h3>
            <div class="post-content">
              <p><%= post.content %></p>
              <div class="post-stats">
                <a href="/post/<%= post._id %>"><button>Open Post</button></a>
                <p class="flag-count"><%= post.flagged.length %> Flags</p>
                <form action="/channels/<%= post._id %>/clear-flags" method="POST">
                  <input type="hidden" name="postId" value="<%= post._id %>" />
                  <input type="hidden" name="channelId" value="<%= channelId %>" />
                  <button type="submit">Clear flags</button>
                </form>
                <form action="/channels/<%= channelId %>/<%= post._id %>?_method=DELETE" method="POST">
                  <input type="hidden" name="channelId" value="<%= channelId %>" />
                  <button type="submit" class="delete-channel-button">Delete post</button>
                </form>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <div class="user-channels">
          <h2>Flagged Comments:</h2>
          <% flaggedComments.forEach((comment) => { %>
           <% comment.comments.forEach((com) => { %>
             <% if (com.comflagged.length > 0) { %>
                <div class="flagged-post">
                  <div class="post-content">
                    <p><%= com.content %></p>
                    <div class="post-stats">
                      <a href="/post/<%= comment._id %>">
                        <button>Open Post</button>
                      </a>
                      <p class="flag-count"><%= com.comflagged.length %> Flags</p>
                      <form action="/channels/<%= comment._id %>/comments/<%= com._id %>/clear-flags" method="POST">
                        <input type="hidden" name="commentId" value="<%= com._id %>" />
                        <input type="hidden" name="postId" value="<%= comment._id %>" />
                        <input type="hidden" name="channelId" value="<%= channelId %>" />
                        <button type="submit">Clear flags</button>
                      </form>
                      <form action="/channels/<%= comment._id %>/comments/<%= com._id %>?_method=DELETE" method="POST" class="delete-comment-form">
                        <input type="hidden" name="commentId" value="<%= com._id %>" />
                        <input type="hidden" name="postId" value="<%= comment._id %>" />
                        <input type="hidden" name="channelId" value="<%= channelId %>" />
                        <button type="submit" class="delete-comment-button" data-commentid="<%= com._id %>">Delete comment</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div id="deleteCommentModal-<%= com._id %>" class="modal">
                  <div class="modal-content">
                    <h3 class="modal-text">Are you sure you want to delete this comment?</h3>
                    <div class="modal-buttons">
                      <button id="deleteCommentBtn" class="delete-comment-button">Delete</button>
                      <button id="cancelBtn">Cancel</button>
                    </div>
                  </div>
                </div>
          <% } }); }); %>
        </div>        
      </div>
    </div>
    <script src="/scripts/moderateChannel.js"></script>
  </body>
</html>
