<!DOCTYPE html>
<html>
  <head>
    <title>Post - <%= post.username %></title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a href="/" class="header-link">
      <h1 class="header-title">Forum</h1>
    </a>
    <div class="App">
      <h1>
        Post by <a href="/profile/<%= post.username %>" class="post-username-link"><%= post.username %></a>
      </h1>
      <div class="post">
        <div class="post-content">
          <p><%= post.content %></p>
          <p><%= post.timestamp %></p>
        </div>
      </div>
      <div class="button-container">
        <form action="/post/<%= post._id %>/like" method="POST">
          <button class="like-button">Like</button>
          <p class="like-number"><%= post.likedBy.length %></p>
        </form>
        <form action="/post/<%= post._id %>/dislike" method="POST">
          <button class="dislike-button">Dislike</button>
          <p class="dislike-number"><%= post.dislikedBy.length %></p>
        </form>
      </div>
      <div class="comment-section">
        <h3>Add a Comment:</h3>
        <form action="/post/<%= post._id %>" method="POST">
          <textarea
            class="textarea"
            name="content"
            placeholder="Enter your comment"
          ></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="comments">
        <h3>Comments:</h3>
        <% post.comments.forEach(function(comment) { %>
        <div class="comment">
          <h4><%= comment.username %></h4>
          <p><%= comment.content %></p>
          <p><%= comment.timestamp %></p>
          <div class="button-container">
          <form action="/post/<%= post._id %>/<%= comment._id %>/like" method="POST">
            <p class="like-number"><%= comment.comlikedBy.length %></p>
            <button>Like</button>
          </form>
          <form action="/post/<%= post._id %>/<%= comment._id %>/dislike" method="POST">
            <p class="dislike-number"><%= comment.comdislikedBy.length %></p>
            <button>Dislike</button>
          </form>
        </div>
        </div>
        <br />
        <% }); %>
      </div>
    </div>
  </body>
</html>
