<!DOCTYPE html>
<html>
  <head>
    <title>Post - <%= post.username %></title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a href="/" class="header-link">
      <h1 class="header-title">Forum</h1>
    </a>
    <div class="App">
      <h1>
        Post by
        <a href="/profile/<%= post.username %>" class="post-username-link"
          ><%= post.username %></a
        >
      </h1>
      <div class="post">
        <div class="post-content">
          <p><%= post.content %></p>
          <p><%= post.timestamp %></p>
        </div>
      </div>
      <div class="button-container">
          <button class="like-button" id="like-button" data-postid="<%= post._id %>">
            Like
          </button>
        <p class="like-number"><%= post.likedBy.length %></p>
          <button class="dislike-button" id="dislike-button" data-postid="<%= post._id %>">
            Dislike
          </button>
        <p class="dislike-number"><%= post.dislikedBy.length %></p>
      </div>
      <div class="comment-section">
        <h3>Add a Comment:</h3>
        <form action="/post/<%= post._id %>" method="POST">
          <textarea
            class="textarea"
            name="content"
            placeholder="Enter your comment"
          ></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="comments">
        <h3>Comments:</h3>
        <% post.comments.forEach(function(comment) { %>
        <div class="comment">
          <h4><%= comment.username %></h4>
          <p><%= comment.content %></p>
          <p><%= comment.timestamp %></p>
          <div class="button-container">
            <form
              action="/post/<%= post._id %>/<%= comment._id %>/like"
              method="POST"
            >
              <p class="like-number"><%= comment.comlikedBy.length %></p>
              <button>Like</button>
            </form>
            <form
              action="/post/<%= post._id %>/<%= comment._id %>/dislike"
              method="POST"
            >
              <p class="dislike-number"><%= comment.comdislikedBy.length %></p>
              <button>Dislike</button>
            </form>
          </div>
        </div>
        <br />
        <% }); %>
      </div>
    </div>
    <script>
      const likeButton = document.getElementById("like-button");
      const dislikeCount = document.querySelector(".dislike-number");
      const likeCount = document.querySelector(".like-number");
      const dislikeButton = document.getElementById("dislike-button");
      let liked = null;
      let disliked = null;

      likeButton.addEventListener("click", () => {
        const postId = likeButton.getAttribute("data-postid");

        const xhr = new XMLHttpRequest();
        xhr.open("POST", `/post/${postId}/like`, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 201) {
              const likeCount = document.querySelector(".like-number");
              likeCount.textContent = parseInt(likeCount.textContent) + 1;
              liked = true; // Now it's true that we have liked
              // This is for dynamically taking away the dislike if you decide to like
              if (disliked) {
                const dislikeCount = document.querySelector(".dislike-number");
                dislikeCount.textContent = parseInt(dislikeCount.textContent) - 1;
              }
            } else {
              console.error("Error:", xhr.status);
            }
          }
        };
        xhr.send();
      });


      dislikeButton.addEventListener("click", () => {
        const postId = dislikeButton.getAttribute("data-postid");

        const xhr = new XMLHttpRequest();
        xhr.open("POST", `/post/${postId}/dislike`, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 201) {
              const dislikeCount = document.querySelector(".dislike-number");
              dislikeCount.textContent = parseInt(dislikeCount.textContent) + 1;
              disliked = true; // Now it's true that we have disliked
              // This is for dynamically taking away the like if you decide to dislike
              if (liked) {
                const likeCount = document.querySelector(".like-number");
                likeCount.textContent = parseInt(likeCount.textContent) - 1;
              }
            } else {
              console.error("Error:", xhr.status);
            }
          }
        };
        xhr.send();
      })
    </script>
  </body>
</html>
