<!DOCTYPE html>
<html>
  <head>
    <title>Post - <%= post.username %></title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a href="/" class="header-link">
      <h1 class="header-title">Forum</h1>
    </a>
    <div class="App">
      <h1>
        Post by
        <a href="/profile/<%= post.username %>" class="post-username-link"
          ><%= post.username %></a
        >
      </h1>
      <div class="post">
        <div class="post-content">
          <p><%= post.content %></p>
          <p><%= post.timestamp %></p>
        </div>
      </div>
      <div class="button-container">
          <button class="like-button" id="like-button" data-postid="<%= post._id %>">
            <img src="/icons/thumbs-up-svgrepo-com.svg" alt="Like" class="icon">
          </button>
        <p class="like-number"><%= post.likedBy.length %></p>
          <button class="dislike-button" id="dislike-button" data-postid="<%= post._id %>">
            <img src="/icons/thumbs-down-svgrepo-com.svg" alt="Dislike" class="icon">
          </button>
        <p class="dislike-number"><%= post.dislikedBy.length %></p>
      </div>
      <div class="comment-section">
        <h3>Add a Comment:</h3>
        <form action="/post/<%= post._id %>" method="POST">
          <textarea
            class="textarea"
            name="content"
            placeholder="Enter your comment"
          ></textarea>
          <button type="submit" class="submit-button">Submit</button>
        </form>
      </div>
      <div class="comments">
        <div class="comment-title-and-dropdown">
        <h3>Comments:</h3>
        <div class="sort-comments-dropdown">
          <button onclick="sortComments()" class="dropbtn">Sort</button>
          <div id="sort-comments" class="dropdown-content">
            <a href="#">Newest</a>
            <a href="#">Popular</a>
          </div>
        </div>
      </div>
        <% post.comments.sort((a, b) => b.comlikedBy.length - a.comlikedBy.length).forEach(function(comment, index) { %>
        <div class="comment">
         <div class="comment-content">
          <h4><%= comment.username %></h4>
          <p><%= comment.content %></p>
          <p><%= comment.timestamp %></p>
          <div class="button-container">
              <button class="comlike-button" id="comlike-button" data-commentid="<%= comment._id %>" data-postid="<%= post._id %>">
                <img src="/icons/thumbs-up-svgrepo-com.svg" alt="Like" class="icon">
              </button>
              <p class="comlike-number"><%= comment.comlikedBy.length %></p>
              <button class="comdislike-button" id="comdislike-button" data-commentid="<%= comment._id %>" data-postid="<%= post._id %>">
                <img src="/icons/thumbs-down-svgrepo-com.svg" alt="Dislike" class="icon">
              </button>
              <p class="comdislike-number"><%= comment.comdislikedBy.length %></p>
          </div>
         </div>
        </div>
        <br />
        <% }); %>
      </div>
    </div>
    <script src="/scripts/likeAndDislike.js"></script>
  </body>
</html>