<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <title>HushHub - <%= username %></title>
  </head>
  <body>
    <div class="header-link">
      <h1 class="header-title">
        <form
          action="/profile/<%= username %>"
          method="GET"
          class="my-profile-button"
        >
          <button type="submit">My profile</button>
        </form>
        <a href="/channels">
          <img src="/icons/logo.png" alt="Logo" class="logo-image" />
        </a>
        <form
          action="/logout?_method=DELETE"
          method="POST"
          class="log-out-button"
        >
          <button type="submit">Log Out</button>
        </form>
      </h1>
    </div>
    <div class="App-userpage" id="Appid">
      <h1><%= username %>'s Profile</h1>
      <br />
      <div class="user-content">
        <div class="posts">
          <h2>Your posts</h2>
          <% posts.forEach((post) => { %>
          <div class="post">
            <h2><%= post.title %></h2>
            <div class="post-content">
              <p><%= post.content %></p>
              <p><%= post.timestamp %></p>
              <div class="post-stats">
                <a href="/post/<%= post._id %>"><button>Open Post</button></a>
                <p>Likes: <%= post.likedBy.length %></p>
                <p>Dislikes: <%= post.dislikedBy.length %></p>
                <p>Comments: <%= post.comments.length %></p>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <div class="user-channels">
          <h2>Your channels</h2>
          <div class="channels">
            <% channels.forEach((channel) => { %>
            <div class="channel-container">
              <a href="/channels/<%= channel.id %>" class="channel-link">
                <h1><%= channel.name %></h1>
              </a>
              <form action="/channels/<%= channel.id %>?_method=DELETE" method="POST" class="delete-channel-form">
                <button type="submit" class="delete-channel-button">Delete</button>
              </form>
              <form action="/channels/<%= channel.id %>/moderate" method="GET" class="moderate-channel-form">
                <button type="submit" class="moderate-channel-button">Moderate</button>
              </form>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
    <div id="deleteChannelModal" class="modal">
      <div class="modal-content">
        <h3 class="modal-text">Are you sure you want to delete this channel?</h3>
        <div class="modal-buttons">
          <button id="deleteChannelBtn" class="delete-channel-button">Delete</button>
          <button id="cancelBtn">Cancel</button>
        </div>
      </div>
    </div>
    <script src="/scripts/profile.js"></script>
  </body>
</html>
